$padding-form: 3rem;
$padding-input-btn: 1rem 2rem;
$padding-checkbox: 1rem;
$padding-logo: 1rem 2rem;
$padding-card: 2rem;
$padding-img: 1rem;
$padding-btn: 1rem 2rem;
$padding-label: 1rem;
$padding-section: 2rem;
