<article class="profile-card">
  <div class="avatar"></div>
  <div class="meta">
    <div class="meta-top">
      <h3 class="name">{{ data.name }}</h3>
      <span class="role">{{ data.role }}</span>
    </div>

    <div class="meta-body">
      <p class="phone">{{ data.phone }}</p>
      <p class="marital">{{ data.marital }}</p>
      <p class="date">Date : {{ data.date }}</p>
      <div class="salary">{{ data.salary }}</div>
    </div>
  </div>
  <div class="actions">
    <app-button class="edit">Edit</app-button>
  </div>
</article>
