// components/shared/button/button.scss
@use "sass:color";
@use "../../../styles/colors" as *;
@use "../../../styles/radius" as rad;

.custom-btn {
  all: unset; // reset everything
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
