<div class="criteria-container" [formGroup]="question">
  <div class="criteria-section">
    <h5>{{ "CREATE_FORM_QUESTIONS.FAILED_CRITERIA" | translate }}</h5>

    <div
      class="criteria"
      *ngFor="let c of getFailCriteria(); let ci = index"
      [formGroup]="c"
    >
      <app-combo-selector
        [projects]="conditionOptions"
        (projectSelected)="onConditionSelect($event)"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.CONDITION' | translate }}"
      ></app-combo-selector>
      <input
        *ngIf="showInputs"
        formControlName="value"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.VALUE' | translate }}"
      />
      <input
        *ngIf="showInputs && c.get('condition')?.value === 'between'"
        formControlName="valueTo"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.VALUE_TO' | translate }}"
      />
      <button type="button" (click)="removeCriteria(questionIndex, ci)">
        {{ "CREATE_FORM_QUESTIONS.DELETE" | translate }}
      </button>
    </div>

    <button
      class="btn btn--dark small"
      type="button"
      (click)="addCriteria(questionIndex, 'fail')"
    >
      {{ "CREATE_FORM_QUESTIONS.ADD_FAILED_CRITERIA" | translate }}
    </button>
  </div>

  <div class="criteria-section">
    <h5>{{ "CREATE_FORM_QUESTIONS.PASS_CRITERIA" | translate }}</h5>

    <div
      class="criteria"
      *ngFor="let c of getPassCriteria(); let ci = index"
      [formGroup]="c"
    >
      <app-combo-selector
        [projects]="conditionOptions"
        (projectSelected)="onConditionSelect($event)"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.CONDITION' | translate }}"
      ></app-combo-selector>
      <input
        *ngIf="showInputs"
        formControlName="value"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.VALUE' | translate }}"
      />
      <input
        *ngIf="showInputs && c.get('condition')?.value === 'between'"
        formControlName="valueTo"
        placeholder="{{ 'CREATE_FORM_QUESTIONS.VALUE_TO' | translate }}"
      />
      <button type="button" (click)="removeCriteria(questionIndex, ci)">
        {{ "CREATE_FORM_QUESTIONS.DELETE" | translate }}
      </button>
    </div>

    <button
      class="btn btn--purple small"
      type="button"
      (click)="addCriteria(questionIndex, 'pass')"
    >
      {{ "CREATE_FORM_QUESTIONS.ADD_PASS_CRITERIA" | translate }}
    </button>
  </div>
</div>
