@use "sass:color";
@use "../../../../styles/colors.scss" as *;
@use "../../../../styles/dimensions" as *;
@use "../../../../styles/margin" as *;
@use "../../../../styles/radius" as *;

.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
