// components/shared/input/input.scss

.form-group {
  margin-bottom: 1.2rem;

  .form-input {
    width: 90%;
    padding: 0.8rem 1.2rem;
    border-radius: var(--radius-input);
    border: 1px solid rgba(var(--color-font), 0.2);
    color: var(--bg-dark);
    font-size: 0.95rem;

    &::placeholder {
      color: rgba(var(--bg-dark), 0.5);
    }

    &:focus {
      border-color: var(--secondary);
      outline: none;
    }
  }
}
