<article class="profile-card" (click)="$event.stopPropagation()">
  <div class="avatar" title="Open user">
    <img src="{{ data.picture }}" alt="user image" class="user-image" />
  </div>

  <div class="meta">
    <div class="meta-top">
      <h3 class="name">{{ displayName }}</h3>
    </div>

    <div class="meta-body">
      <p class="prestion {{ data.isPresent && 'active' }}">prestion</p>
      <p class="prestion {{ !data.isPresent && 'active' }}">abscense</p>
      <p class="date">
        Date :
        {{ displayDate }}
      </p>
      <div class="role">{{ "ROLES." + getRole() | translate }}</div>
    </div>
  </div>

  <!-- Modal Component (conditionally shown based on modalOpen state) -->
</article>
