CREATE OR REPLACE PROCEDURE create_action(p_auth_user_id UUID, p_action_type VARCHAR(100))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_action');

INSERT INTO ACTIONS (actionId, actionType)
 VALUES (gen_random_uuid(), p_action_type);
END;
$$;
CREATE OR REPLACE PROCEDURE delete_action(p_auth_user_id UUID, p_action_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_action');

DELETE FROM ACTIONS
 WHERE actionId = p_action_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_action_by_id(p_auth_user_id UUID, p_action_id UUID)
RETURNS TABLE (actionId UUID, actionType VARCHAR(100))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_action_by_id');
RETURN QUERY
 SELECT
 a.actionId,
 a.actionType
 FROM ACTIONS a
 WHERE a.actionId = p_action_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_actions(p_auth_user_id UUID)
RETURNS TABLE (actionId UUID, actionType VARCHAR(100))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_actions');
RETURN QUERY
 SELECT
 a.actionId,
 a.actionType
 FROM ACTIONS a;
END;
$$;
CREATE OR REPLACE PROCEDURE update_action(p_auth_user_id UUID,
 p_action_id UUID,
 p_action_type VARCHAR(100) DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_action');

UPDATE ACTIONS
 SET actionType = COALESCE(p_action_type, actionType)
 WHERE actionId = p_action_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_admin(p_auth_user_id UUID,
 p_name JSONB,
 p_qid VARCHAR(20),
 p_date_of_birth DATE,
 p_job_position VARCHAR(100)
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_admin');

INSERT INTO ADMINS (
 adminId,
 name,
 qid,
 dateOfBirth,
 jobPosition
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_qid,
 p_date_of_birth,
 p_job_position
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_admin(p_auth_user_id UUID, p_admin_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_admin');

DELETE FROM ADMINS
 WHERE adminId = p_admin_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_admin_by_id(p_auth_user_id UUID, p_admin_id UUID)
RETURNS TABLE (
    adminId UUID,
    name JSONB,
    qid VARCHAR(20),
    dateOfBirth DATE,
    jobPosition VARCHAR(100)
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_admin_by_id');
RETURN QUERY 
    SELECT 
        a.adminId,
        a.name,
        a.qid,
        a.dateOfBirth,
        a.jobPosition
    FROM ADMINS a
    WHERE a.adminId = p_admin_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_admins(p_auth_user_id UUID)
RETURNS TABLE (
    adminId UUID,
    name JSONB,
    qid VARCHAR(20),
    dateOfBirth DATE,
    jobPosition VARCHAR(100)
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_admins');
RETURN QUERY 
    SELECT 
        a.adminId,
        a.name,
        a.qid,
        a.dateOfBirth,
        a.jobPosition
    FROM ADMINS a;
END;
$$;
CREATE OR REPLACE PROCEDURE update_admin(p_auth_user_id UUID,
 p_admin_id UUID,
 p_name JSONB DEFAULT NULL,
 p_qid VARCHAR(20) DEFAULT NULL,
 p_date_of_birth DATE DEFAULT NULL,
 p_job_position VARCHAR(100) DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_admin');

UPDATE ADMINS
 SET
 name = COALESCE(p_name, name),
 qid = COALESCE(p_qid, qid),
 dateOfBirth = COALESCE(p_date_of_birth, dateOfBirth),
 jobPosition = COALESCE(p_job_position, jobPosition)
 WHERE adminId = p_admin_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_admin_role(p_auth_user_id UUID,
 p_admin_id UUID,
 p_role_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_admins_role');

INSERT INTO ADMINS_ROLES (adminRoleId,adminId, roleId)
 VALUES (gen_random_uuid(),p_admin_id, p_role_id)
;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_admin_role(p_auth_user_id UUID, p_admin_role_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_admins_role');

DELETE FROM ADMINS_ROLES
 WHERE adminRoleId = p_admin_role_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_admin_role_by_id(p_auth_user_id UUID, p_admin_role_id UUID)
RETURNS TABLE (adminRoleId UUID, adminId UUID, roleId UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_admins_role_by_id');
RETURN QUERY
 SELECT ar.adminRoleId, ar.adminId, ar.roleId
 FROM ADMINS_ROLES ar
 WHERE ar.adminRoleId = p_admin_role_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_admin_roles(p_auth_user_id UUID)
RETURNS TABLE (adminRoleId UUID, adminId UUID, roleId UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_admins_roles');
RETURN QUERY
 SELECT ar.adminRoleId, ar.adminId, ar.roleId
 FROM ADMINS_ROLES ar;
END;
$$;
CREATE OR REPLACE PROCEDURE update_admin_role(p_auth_user_id UUID,
 p_admin_role_id UUID,
 p_admin_id UUID DEFAULT NULL,
 p_role_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_admins_role');

UPDATE ADMINS_ROLES
 SET
 adminId = COALESCE(p_admin_id, adminId),
 roleId = COALESCE(p_role_id, roleId)
 WHERE adminRoleId = p_admin_role_id;
END;
$$;
CREATE OR REPLACE FUNCTION create_answer_option(
 p_answer_id UUID,
 p_option_id UUID
)
RETURNS TABLE (
 answerOptionsId UUID,
 answerId UUID,
 optionId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_answer_option');

RETURN QUERY
 INSERT INTO ANSWER_OPTIONS (answerId, optionId)
 VALUES (p_answer_id, p_option_id)
 RETURNING answerOptionsId, answerId, optionId;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_answer_option(p_auth_user_id UUID, p_ANSWER_OPTIONS_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_answer_option');

DELETE FROM ANSWER_OPTIONS
 WHERE answerOptionsId = p_ANSWER_OPTIONS_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_ANSWER_OPTIONS(p_auth_user_id UUID)
RETURNS TABLE (
    answerOptionsId UUID,
    answerId UUID,
    optionId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_ANSWER_OPTIONS');
RETURN QUERY 
    SELECT 
        ao.answerOptionsId,
        ao.answerId,
        ao.optionId
    FROM ANSWER_OPTIONS ao;
END;
$$;
CREATE OR REPLACE FUNCTION get_answer_option_by_id(p_auth_user_id UUID, p_ANSWER_OPTIONS_id UUID)
RETURNS TABLE (
    answerOptionsId UUID,
    answerId UUID,
    optionId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_answer_option_by_id');
RETURN QUERY 
    SELECT 
        ao.answerOptionsId,
        ao.answerId,
        ao.optionId
    FROM ANSWER_OPTIONS ao
    WHERE ao.answerOptionsId = p_ANSWER_OPTIONS_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_answer_option(p_auth_user_id UUID,
 p_ANSWER_OPTIONS_id UUID,
 p_answer_id UUID DEFAULT NULL,
 p_option_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_answer_option');

UPDATE ANSWER_OPTIONS
 SET
 answerId = COALESCE(p_answer_id, answerId),
 optionId = COALESCE(p_option_id, optionId)
 WHERE answerOptionsId = p_ANSWER_OPTIONS_id;
END;
$$;
CREATE OR REPLACE FUNCTION create_answer(
 p_submission_id UUID,
 p_question_id UUID,
 p_answered_at TIMESTAMP
)
RETURNS TABLE (
 answerId UUID,
 submissionId UUID,
 questionId UUID,
 answeredAt TIMESTAMP
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_answer');

IF p_submission_id IS NULL THEN
 RAISE EXCEPTION 'Submission ID cannot be null';
 END IF;
 IF p_question_id IS NULL THEN
 RAISE EXCEPTION 'Question ID cannot be null';
 END IF;

 RETURN QUERY
 INSERT INTO ANSWERS (answerId, submissionId, questionId, answeredAt)
 VALUES (gen_random_uuid(), p_submission_id, p_question_id, p_answered_at)
 RETURNING answerId, submissionId, questionId, answeredAt;
EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid submissionId or questionId';
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'Required fields cannot be null';
END;
$$;
CREATE OR REPLACE PROCEDURE delete_answer(p_auth_user_id UUID,
 p_answer_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_answer');

DELETE FROM ANSWERS WHERE answerId = p_answer_id;
END;
$$;

CREATE OR REPLACE FUNCTION get_all_answers(p_auth_user_id UUID)
RETURNS TABLE (
    answerId UUID,
    submissionId UUID,
    questionId UUID,
    answeredAt TIMESTAMP
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_answers');
RETURN QUERY 
    SELECT 
        a.answerId,
        a.submissionId,
        a.questionId,
        a.answeredAt
    FROM ANSWERS a;
END;
$$;
CREATE OR REPLACE FUNCTION get_answer_by_id(p_auth_user_id UUID, p_answer_id UUID)
RETURNS TABLE (
    answerId UUID,
    submissionId UUID,
    questionId UUID,
    answeredAt TIMESTAMP
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_answer_by_id');
RETURN QUERY 
    SELECT 
        a.answerId,
        a.submissionId,
        a.questionId,
        a.answeredAt
    FROM ANSWERS a
    WHERE a.answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_answers_by_submission(p_auth_user_id UUID,p_submission_id UUID)
RETURNS TABLE (
    answerId UUID,
    questionId UUID,
    answeredAt TIMESTAMP
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_answers_by_submission');

RETURN QUERY 
    SELECT 
        a.answerId,
        a.questionId,
        a.answeredAt
    FROM ANSWERS a
    WHERE a.submissionId = p_submission_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_answer(p_auth_user_id UUID,
 p_answer_id UUID,
 p_submission_id UUID DEFAULT NULL,
 p_question_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_answer');

-- Validate inputs only when provided
 IF p_answer_id IS NULL THEN
 RAISE EXCEPTION 'Answer ID cannot be null';
 END IF;

 UPDATE ANSWERS
 SET
 submissionId = COALESCE(p_submission_id, submissionId),
 questionId = COALESCE(p_question_id, questionId)
 WHERE answerId = p_answer_id;

 EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid submissionId or questionId';
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'Required fields cannot be null';
END;
$$;
CREATE OR REPLACE PROCEDURE create_area(p_auth_user_id UUID,
 p_name JSONB,
 p_location_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_area');

INSERT INTO AREAS (
 areaId,
 name,
 locationId
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_location_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_area(p_auth_user_id UUID, p_area_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_area');

DELETE FROM AREAS
 WHERE areaId = p_area_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_areas(p_auth_user_id UUID)
RETURNS TABLE (
    areaId UUID,
    name JSONB,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_area');

RETURN QUERY 
    SELECT 
        a.areaId,
        a.name,
        a.locationId
    FROM AREAS a;
END;
$$;
CREATE OR REPLACE FUNCTION get_area_by_id(p_auth_user_id UUID,p_area_id UUID)
RETURNS TABLE (
    areaId UUID,
    name JSONB,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_area_by_id');

RETURN QUERY 
    SELECT 
        a.areaId,
        a.name,
        a.locationId
    FROM AREAS a
    WHERE a.areaId = p_area_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_area(p_auth_user_id UUID,
 p_area_id UUID,
 p_name JSONB DEFAULT NULL,
 p_location_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_area');

UPDATE AREAS
 SET
 name = COALESCE(p_name, name),
 locationId = COALESCE(p_location_id, locationId)
 WHERE areaId = p_area_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_attendance(p_auth_user_id UUID,
 p_timestamp TIMESTAMP,
 p_signed_with signed_with_type,
 p_signed_by UUID,
 p_user_id UUID,
 p_area_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_attendance');

INSERT INTO ATTENDANCES (
 attendanceId,
 attendanceTimestamp,
 signedWith,
 signedBy,
 userId,
 areaId
 ) VALUES (
 gen_random_uuid(),
 p_timestamp,
 p_signed_with,
 p_signed_by,
 p_user_id,
 p_area_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_attendance(p_auth_user_id UUID, p_attendance_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_attendance');

DELETE FROM ATTENDANCES
 WHERE attendanceId = p_attendance_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_attendances(p_auth_user_id UUID)
RETURNS TABLE (
 attendanceId UUID,
 attendanceTimestamp TIMESTAMP,
 signedWith signed_with_type,
 signedBy UUID,
 userId UUID,
 areaId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_attendances');
RETURN QUERY
 SELECT
 a.attendanceId,
 a.attendanceTimestamp,
 a.signedWith,
 a.signedBy,
 a.userId,
 a.areaId
 FROM ATTENDANCES a;
END;
$$;
CREATE OR REPLACE FUNCTION get_attendance_by_id(p_auth_user_id UUID,p_attendance_id UUID)
RETURNS TABLE (
 attendanceId UUID,
 attendanceTimestamp TIMESTAMP,
 signedWith signed_with_type,
 signedBy UUID,
 userId UUID,
 areaId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_attendance_by_id');

RETURN QUERY
 SELECT
 a.attendanceId,
 a.attendanceTimestamp,
 a.signedWith,
 a.signedBy,
 a.userId,
 a.areaId
 FROM ATTENDANCES a
 WHERE a.attendanceId = p_attendance_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_attendance_by_user(p_auth_user_id UUID,p_user_id UUID)
RETURNS TABLE (
 attendanceId UUID,
 attendanceTimestamp TIMESTAMP,
 areaId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_attendance_by_user');

RETURN QUERY
 SELECT
 a.attendanceId,
 a.attendanceTimestamp,
 a.areaId
 FROM ATTENDANCES a
 WHERE a.userId = p_user_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_attendance(p_auth_user_id UUID,
 p_attendance_id UUID,
 p_timestamp TIMESTAMP DEFAULT NULL,
 p_signed_with signed_with_type DEFAULT NULL,
 p_signed_by UUID DEFAULT NULL,
 p_user_id UUID DEFAULT NULL,
 p_area_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_attendance');

UPDATE ATTENDANCES
 SET
 attendanceTimestamp = COALESCE(p_timestamp, attendanceTimestamp),
 signedWith = COALESCE(p_signed_with, signedWith),
 signedBy = COALESCE(p_signed_by, signedBy),
 userId = COALESCE(p_user_id, userId),
 areaId = COALESCE(p_area_id, areaId)
 WHERE attendanceId = p_attendance_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_client(p_auth_user_id UUID,
 p_name JSONB,
 p_logo VARCHAR(512),
 p_company JSONB,
 p_contact_email VARCHAR(255),
 p_contact_phone VARCHAR(20)
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_client');

INSERT INTO CLIENTS (
 clientId,
 name,
 logo,
 company,
 contactEmail,
 contactPhone
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_logo,
 p_company,
 p_contact_email,
 p_contact_phone
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_client(p_auth_user_id UUID, p_client_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_client');

DELETE FROM CLIENTS
 WHERE clientId = p_client_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_clients(p_auth_user_id UUID)
RETURNS TABLE (
 clientId UUID,
 name JSONB,
 logo VARCHAR(512),
 company JSONB,
 contactEmail VARCHAR(255),
 contactPhone VARCHAR(20))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_clients');

RETURN QUERY
 SELECT
 c.clientId,
 c.name,
 c.logo,
 c.company,
 c.contactEmail,
 c.contactPhone
 FROM CLIENTS c;
END;
$$;
CREATE OR REPLACE FUNCTION get_client_by_id(p_auth_user_id UUID,p_client_id UUID)
RETURNS TABLE (
 clientId UUID,
 name JSONB,
 logo VARCHAR(512),
 company JSONB,
 contactEmail VARCHAR(255),
 contactPhone VARCHAR(20))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_client_by_id');

RETURN QUERY
 SELECT
 c.clientId,
 c.name,
 c.logo,
 c.company,
 c.contactEmail,
 c.contactPhone
 FROM CLIENTS c
 WHERE c.clientId = p_client_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_client(p_auth_user_id UUID,
 p_client_id UUID,
 p_name JSONB DEFAULT NULL,
 p_logo VARCHAR(512) DEFAULT NULL,
 p_company JSONB DEFAULT NULL,
 p_contact_email VARCHAR(255) DEFAULT NULL,
 p_contact_phone VARCHAR(20) DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_client');

UPDATE CLIENTS
 SET
 name = COALESCE(p_name, name),
 logo = COALESCE(p_logo, logo),
 company = COALESCE(p_company, company),
 contactEmail = COALESCE(p_contact_email, contactEmail),
 contactPhone = COALESCE(p_contact_phone, contactPhone)
 WHERE clientId = p_client_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_criterion(p_auth_user_id UUID,
 p_type criteria_operator,
 p_value VARCHAR(255),
 p_question_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_criteria');

INSERT INTO CRITERIA (
 criterionId,
 type,
 value,
 questionId
 ) VALUES (
 gen_random_uuid(),
 p_type,
 p_value,
 p_question_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_criterion(p_auth_user_id UUID, p_criterion_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_criteria');

DELETE FROM CRITERIA
 WHERE criterionId = p_criterion_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_criteria(p_auth_user_id UUID)
RETURNS TABLE (
    criterionId UUID,
    type criteria_operator,
    value VARCHAR(255),
    questionId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_criteria');

RETURN QUERY 
    SELECT 
        c.criterionId,
        c.type,
        c.value,
        c.questionId
    FROM CRITERIA c;
END;
$$;
CREATE OR REPLACE FUNCTION get_criterion_by_id(p_auth_user_id UUID,p_criterion_id UUID)
RETURNS TABLE (
    criterionId UUID,
    type criteria_operator,
    value VARCHAR(255),
    questionId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_criteria_by_id');

RETURN QUERY 
    SELECT 
        c.criterionId,
        c.type,
        c.value,
        c.questionId
    FROM CRITERIA c
    WHERE c.criterionId = p_criterion_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_criterion(p_auth_user_id UUID,
 p_criterion_id UUID,
 p_type criteria_operator DEFAULT NULL,
 p_value VARCHAR(255) DEFAULT NULL,
 p_question_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_criteria');

UPDATE CRITERIA
 SET
 type = COALESCE(p_type, type),
 value = COALESCE(p_value, value),
 questionId = COALESCE(p_question_id, questionId)
 WHERE criterionId = p_criterion_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_criterion_result(p_auth_user_id UUID,
 p_answer_id UUID,
 p_criterion_id UUID,
 p_passed BOOLEAN,
 p_evaluated_at TIMESTAMP
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_criteria_result');

INSERT INTO CRITERIA_RESULTS (
 criterionResultId,
 answerId,
 criterionId,
 passed,
 evaluatedAt
 ) VALUES (
 gen_random_uuid(),
 p_answer_id,
 p_criterion_id,
 p_passed,
 p_evaluated_at
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_criterion_result(p_auth_user_id UUID, p_criterion_result_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_criteria_result');

DELETE FROM CRITERIA_RESULTS
 WHERE criterionResultId = p_criterion_result_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_criterion_results(p_auth_user_id UUID)
RETURNS TABLE (
    criterionResultId UUID,
    answerId UUID,
    criterionId UUID,
    passed BOOLEAN,
    evaluatedAt TIMESTAMP
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_criteria_results');

RETURN QUERY 
    SELECT 
        cr.criterionResultId,
        cr.answerId,
        cr.criterionId,
        cr.passed,
        cr.evaluatedAt
    FROM CRITERIA_RESULTS cr;
END;
$$;
CREATE OR REPLACE FUNCTION get_criterion_result_by_id(p_auth_user_id UUID,p_criterion_result_id UUID)
RETURNS TABLE (
    criterionResultId UUID,
    answerId UUID,
    criterionId UUID,
    passed BOOLEAN,
    evaluatedAt TIMESTAMP
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_criteria_result_by_id');

RETURN QUERY 
    SELECT 
        cr.criterionResultId,
        cr.answerId,
        cr.criterionId,
        cr.passed,
        cr.evaluatedAt
    FROM CRITERIA_RESULTS cr
    WHERE cr.criterionResultId = p_criterion_result_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_criterion_result(p_auth_user_id UUID,
 p_criterion_result_id UUID,
 p_answer_id UUID DEFAULT NULL,
 p_criterion_id UUID DEFAULT NULL,
 p_passed BOOLEAN DEFAULT NULL,
 p_evaluated_at TIMESTAMP DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_criteria_result');

UPDATE CRITERIA_RESULTS
 SET
 answerId = COALESCE(p_answer_id, answerId),
 criterionId = COALESCE(p_criterion_id, criterionId),
 passed = COALESCE(p_passed, passed),
 evaluatedAt = COALESCE(p_evaluated_at, evaluatedAt)
 WHERE criterionResultId = p_criterion_result_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_decision_rule(p_auth_user_id UUID,
 p_name JSONB,
 p_description JSONB,
 p_form_id UUID,
 p_priority INT,
 p_outcome_on_pass submission_outcome
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_decision_rule');

INSERT INTO DECISION_RULES (
 ruleId,
 name,
 description,
 formId,
 priority,
 outcomeOnPass
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_description,
 p_form_id,
 p_priority,
 p_outcome_on_pass
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_decision_rule(p_auth_user_id UUID, p_rule_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_decision_rule');

DELETE FROM DECISION_RULES
 WHERE ruleId = p_rule_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_decision_rules(p_auth_user_id UUID)
RETURNS TABLE (
    ruleId UUID,
    name JSONB,
    description JSONB,
    formId UUID,
    priority INT,
    outcomeOnPass submission_outcome
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_decision_rules');

RETURN QUERY 
    SELECT 
        dr.ruleId,
        dr.name,
        dr.description,
        dr.formId,
        dr.priority,
        dr.outcomeOnPass
    FROM DECISION_RULES dr;
END;
$$;
CREATE OR REPLACE FUNCTION get_decision_rule_by_id(p_auth_user_id UUID,p_rule_id UUID)
RETURNS TABLE (
    ruleId UUID,
    name JSONB,
    description JSONB,
    formId UUID,
    priority INT,
    outcomeOnPass submission_outcome
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_decision_rule_by_id');

RETURN QUERY 
    SELECT 
        dr.ruleId,
        dr.name,
        dr.description,
        dr.formId,
        dr.priority,
        dr.outcomeOnPass
    FROM DECISION_RULES dr
    WHERE dr.ruleId = p_rule_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_decision_rule(p_auth_user_id UUID,
 p_rule_id UUID,
 p_name JSONB DEFAULT NULL,
 p_description JSONB DEFAULT NULL,
 p_form_id UUID DEFAULT NULL,
 p_priority INT DEFAULT NULL,
 p_outcome_on_pass submission_outcome DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_decision_rule');

-- Validate priority only when provided
 IF p_priority IS NOT NULL AND p_priority < 0 THEN
 RAISE EXCEPTION 'Priority cannot be negative (provided: %)', p_priority;
 END IF;

 UPDATE DECISION_RULES
 SET
 name = COALESCE(p_name, name),
 description = COALESCE(p_description, description),
 formId = COALESCE(p_form_id, formId),
 priority = COALESCE(p_priority, priority),
 outcomeOnPass = COALESCE(p_outcome_on_pass, outcomeOnPass)
 WHERE ruleId = p_rule_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_email(p_auth_user_id UUID,
 p_title JSONB,
 p_body JSONB,
 p_form_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_email');

INSERT INTO EMAILS (
 emailId,
 title,
 body,
 formId
 ) VALUES (
 gen_random_uuid(),
 p_title,
 p_body,
 p_form_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_email(p_auth_user_id UUID, p_email_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_email');

DELETE FROM EMAILS
 WHERE emailId = p_email_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_emails(p_auth_user_id UUID)
RETURNS TABLE (
    emailId UUID,
    title JSONB,
    body JSONB,
    formId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_emails');

RETURN QUERY 
    SELECT 
        e.emailId,
        e.title,
        e.body,
        e.formId
    FROM EMAILS e;
END;
$$;
CREATE OR REPLACE FUNCTION get_email_by_id(p_auth_user_id UUID,p_email_id UUID)
RETURNS TABLE (
    emailId UUID,
    title JSONB,
    body JSONB,
    formId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_email_by_id');

RETURN QUERY 
    SELECT 
        e.emailId,
        e.title,
        e.body,
        e.formId
    FROM EMAILS e
    WHERE e.emailId = p_email_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_email(p_auth_user_id UUID,
 p_email_id UUID,
 p_title JSONB DEFAULT NULL,
 p_body JSONB DEFAULT NULL,
 p_form_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_email');

UPDATE EMAILS
 SET
 title = COALESCE(p_title, title),
 body = COALESCE(p_body, body),
 formId = COALESCE(p_form_id, formId)
 WHERE emailId = p_email_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_form(p_auth_user_id UUID,
 p_project_id UUID,
 p_location_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_form');

INSERT INTO FORMS (
 formId,
 projectId,
 locationId
 ) VALUES (
 gen_random_uuid(),
 p_project_id,
 p_location_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_form(p_auth_user_id UUID, p_form_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_form');

DELETE FROM FORMS
 WHERE formId = p_form_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_forms(p_auth_user_id UUID)
RETURNS TABLE (
    formId UUID,
    projectId UUID,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_forms');

RETURN QUERY 
    SELECT 
        f.formId,
        f.projectId,
        f.locationId
    FROM FORMS f;
END;
$$;
CREATE OR REPLACE FUNCTION get_form_by_id(p_auth_user_id UUID,p_form_id UUID)
RETURNS TABLE (
    formId UUID,
    projectId UUID,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_form_by_id');

RETURN QUERY 
    SELECT 
        f.formId,
        f.projectId,
        f.locationId
    FROM FORMS f
    WHERE f.formId = p_form_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_forms_by_project(p_project_id UUID)
RETURNS TABLE (
    formId UUID,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_forms_by_project');

RETURN QUERY 
    SELECT 
        f.formId,
        f.locationId
    FROM FORMS f
    WHERE f.projectId = p_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_form(p_auth_user_id UUID,
 p_form_id UUID,
 p_project_id UUID DEFAULT NULL,
 p_location_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_form');

UPDATE FORMS
 SET
 projectId = COALESCE(p_project_id, projectId),
 locationId = COALESCE(p_location_id, locationId)
 WHERE formId = p_form_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_forms_by_client(p_auth_user_id UUID, p_client_id UUID)
RETURNS TABLE (
    formId UUID,
    projectId UUID,
    locationId UUID,
    projectName JSONB,
    locationName JSONB,
    clientName JSONB,
    form_language TEXT,
    form_title TEXT
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_forms_by_client');

    RETURN QUERY
    SELECT * FROM (
        -- Forms directly linked to projects of the client
        SELECT
            f.formId,
            p.projectId,
            f.locationId,
            p.name AS projectName,
            NULL::JSONB AS locationName,
            c.name AS clientName,
            f.form_language,
            f.form_title
        FROM FORMS f
        INNER JOIN PROJECTS p ON f.projectId = p.projectId
        INNER JOIN CLIENTS c ON p.clientId = c.clientId
        WHERE c.clientId = p_client_id
        UNION ALL
        -- Forms linked to locations that belong to projects of the client
        SELECT
            f.formId,
            p.projectId,
            f.locationId,
            p.name AS projectName,
            l.name AS locationName,
            c.name AS clientName,
            f.form_language,
            f.form_title
        FROM FORMS f
        INNER JOIN LOCATIONS l ON f.locationId = l.locationId
        INNER JOIN PROJECTS p ON l.projectId = p.projectId
        INNER JOIN CLIENTS c ON p.clientId = c.clientId
        WHERE c.clientId = p_client_id
    ) AS subquery
    ORDER BY projectName->>'en', locationName->>'en', form_title;
END;
$$;
CREATE OR REPLACE PROCEDURE create_interview(p_auth_user_id UUID, p_project_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_interview');

INSERT INTO INTERVIEWS (interviewId,projectId)
 VALUES (gen_random_uuid(),p_project_id)
;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_interview(p_auth_user_id UUID, p_interview_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_interview');

DELETE FROM INTERVIEWS
 WHERE interviewId = p_interview_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_interviews(p_auth_user_id UUID)
RETURNS TABLE (interviewId UUID, projectId UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_interviews');

RETURN QUERY
 SELECT
 i.interviewId,
 i.projectId
 FROM INTERVIEWS i;
END;
$$;
CREATE OR REPLACE FUNCTION get_interview_by_id(p_auth_user_id UUID,p_interview_id UUID)
RETURNS TABLE (interviewId UUID, projectId UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_interview_by_id');

RETURN QUERY
 SELECT
 i.interviewId,
 i.projectId
 FROM INTERVIEWS i
 WHERE i.interviewId = p_interview_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_interview(p_auth_user_id UUID,
 p_interview_id UUID,
 p_project_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_interview');

UPDATE INTERVIEWS
 SET projectId = COALESCE(p_project_id, projectId)
 WHERE interviewId = p_interview_id;
END;
$$;
CREATE OR REPLACE FUNCTION create_location(
 p_name JSONB,
 p_project_id UUID,
 p_site_map VARCHAR(512),
 p_longitude NUMERIC,
 p_latitude NUMERIC
)
RETURNS TABLE (
 locationId UUID,
 name JSONB,
 projectId UUID,
 siteMap VARCHAR(512),
 longitude NUMERIC,
 latitude NUMERIC
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_location');

IF p_longitude < -180 OR p_longitude > 180 THEN
 RAISE EXCEPTION 'Longitude must be between -180 and 180 (provided: %)', p_longitude;
 END IF;
 IF p_latitude < -90 OR p_latitude > 90 THEN
 RAISE EXCEPTION 'Latitude must be between -90 and 90 (provided: %)', p_latitude;
 END IF;

 RETURN QUERY
 INSERT INTO LOCATIONS (locationId, name, projectId, siteMap, longitude, latitude)
 VALUES (gen_random_uuid(), p_name, p_project_id, p_site_map, p_longitude, p_latitude)
 RETURNING locationId, name, projectId, siteMap, longitude, latitude;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_location(p_auth_user_id UUID, p_location_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_location');

DELETE FROM LOCATIONS
 WHERE locationId = p_location_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_locations(p_auth_user_id UUID)
RETURNS TABLE (
    locationId UUID,
    name JSONB,
    projectId UUID,
    siteMap VARCHAR(512),
    longitude NUMERIC,
    latitude NUMERIC
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_locations');

RETURN QUERY 
    SELECT 
        l.locationId,
        l.name,
        l.projectId,
        l.siteMap,
        l.longitude,
        l.latitude
    FROM LOCATIONS l;
END;
$$;
CREATE OR REPLACE FUNCTION get_location_by_id(p_auth_user_id UUID,p_location_id UUID)
RETURNS TABLE (
    locationId UUID,
    name JSONB,
    projectId UUID,
    siteMap VARCHAR(512),
    longitude NUMERIC,
    latitude NUMERIC
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_location_by_id');

RETURN QUERY 
    SELECT 
        l.locationId,
        l.name,
        l.projectId,
        l.siteMap,
        l.longitude,
        l.latitude
    FROM LOCATIONS l
    WHERE l.locationId = p_location_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_location(p_auth_user_id UUID,
 p_location_id UUID,
 p_name JSONB DEFAULT NULL,
 p_project_id UUID DEFAULT NULL,
 p_site_map VARCHAR(512) DEFAULT NULL,
 p_longitude NUMERIC DEFAULT NULL,
 p_latitude NUMERIC DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_location');

-- Validate geographic coordinates only when provided
 IF p_longitude IS NOT NULL AND (p_longitude < -180 OR p_longitude > 180) THEN
 RAISE EXCEPTION 'Longitude must be between -180 and 180 (provided: %)', p_longitude;
 END IF;

 IF p_latitude IS NOT NULL AND (p_latitude < -90 OR p_latitude > 90) THEN
 RAISE EXCEPTION 'Latitude must be between -90 and 90 (provided: %)', p_latitude;
 END IF;

 UPDATE LOCATIONS
 SET
 name = COALESCE(p_name, name),
 projectId = COALESCE(p_project_id, projectId),
 siteMap = COALESCE(p_site_map, siteMap),
 longitude = COALESCE(p_longitude, longitude),
 latitude = COALESCE(p_latitude, latitude)
 WHERE locationId = p_location_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_numeric_answer(p_auth_user_id UUID,
 IN p_answerId UUID,
 IN p_response NUMERIC
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_numeric_answer');

-- Validate response
 IF p_response IS NULL THEN
 RAISE EXCEPTION 'Response value cannot be NULL';
 END IF;

 INSERT INTO NUMERIC_ANSWERS (
 answerId,
 response
 ) VALUES (
 p_answerId,
 p_response
 );

 EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid answerId: % does not exist in ANSWERS table', p_answerId;
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'Response value cannot be NULL';
END;
$$;
CREATE OR REPLACE PROCEDURE delete_numeric_answer(p_auth_user_id UUID, p_answer_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_numeric_answer');

DELETE FROM NUMERIC_ANSWERS
 WHERE answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_numeric_answers(p_auth_user_id UUID)
RETURNS TABLE (answerId UUID, response NUMERIC)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_numeric_answers');

RETURN QUERY
 SELECT
 na.answerId,
 na.response
 FROM NUMERIC_ANSWERS na;
END;
$$;
CREATE OR REPLACE FUNCTION get_numeric_answer_by_id(p_auth_user_id UUID,p_answer_id UUID)
RETURNS TABLE (answerId UUID, response NUMERIC)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_numeric_answer_by_id');

RETURN QUERY
 SELECT
 na.answerId,
 na.response
 FROM NUMERIC_ANSWERS na
 WHERE na.answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_numeric_answer(p_auth_user_id UUID,
 p_answer_id UUID,
 p_response NUMERIC DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_numeric_answer');

-- Validate response only when provided
 IF p_response IS NULL THEN
 RAISE EXCEPTION 'Response value cannot be NULL';
 END IF;

 UPDATE NUMERIC_ANSWERS
 SET response = p_response
 WHERE answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_option(p_auth_user_id UUID,
 p_option_text JSONB,
 p_question_id UUID,
 p_is_correct BOOLEAN,
 p_display_order INT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_option');

INSERT INTO OPTIONS (
 optionId,
 optionText,
 questionId,
 isCorrect,
 displayOrder
 ) VALUES (
 gen_random_uuid(),
 p_option_text,
 p_question_id,
 p_is_correct,
 p_display_order
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_option(p_auth_user_id UUID, p_option_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_option');

DELETE FROM OPTIONS
 WHERE optionId = p_option_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_options(p_auth_user_id UUID)
RETURNS TABLE (
    optionId UUID,
    optionText JSONB,
    questionId UUID,
    isCorrect BOOLEAN,
    displayOrder INT
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_options');

RETURN QUERY 
    SELECT 
        o.optionId,
        o.optionText,
        o.questionId,
        o.isCorrect,
        o.displayOrder
    FROM OPTIONS o;
END;
$$;
CREATE OR REPLACE FUNCTION get_option_by_id(p_auth_user_id UUID,p_option_id UUID)
RETURNS TABLE (
    optionId UUID,
    optionText JSONB,
    questionId UUID,
    isCorrect BOOLEAN,
    displayOrder INT
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_option_by_id');

RETURN QUERY 
    SELECT 
        o.optionId,
        o.optionText,
        o.questionId,
        o.isCorrect,
        o.displayOrder
    FROM OPTIONS o
    WHERE o.optionId = p_option_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_option(p_auth_user_id UUID,
 p_option_id UUID,
 p_option_text JSONB DEFAULT NULL,
 p_question_id UUID DEFAULT NULL,
 p_is_correct BOOLEAN DEFAULT NULL,
 p_display_order INT DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_option');

-- Validate display order only when provided
 IF p_display_order IS NOT NULL AND p_display_order < 0 THEN
 RAISE EXCEPTION 'Display order cannot be negative (provided: %)', p_display_order;
 END IF;

 UPDATE OPTIONS
 SET
 optionText = COALESCE(p_option_text, optionText),
 questionId = COALESCE(p_question_id, questionId),
 isCorrect = COALESCE(p_is_correct, isCorrect),
 displayOrder = COALESCE(p_display_order, displayOrder)
 WHERE optionId = p_option_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_project_user_role(p_auth_user_id UUID,
 p_user_id UUID,
 p_project_id UUID,
 p_role_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_project_user_role');

INSERT INTO PROJECT_USER_ROLES (projectUserRoleId,userId, projectId, roleId)
 VALUES (gen_random_uuid(),p_user_id, p_project_id, p_role_id)
;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_project_user_role(p_auth_user_id UUID, p_project_user_role_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_project_user_role');

DELETE FROM PROJECT_USER_ROLES
 WHERE projectUserRoleId = p_project_user_role_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_project_user_roles(p_auth_user_id UUID)
RETURNS TABLE (
 projectUserRoleId UUID,
 userId UUID,
 projectId UUID,
 roleId UUID
)

LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_project_user_roles');

RETURN QUERY
 SELECT pur.projectUserRoleId, pur.userId, pur.projectId, pur.roleId
 FROM PROJECT_USER_ROLES pur;
END;
$$;
CREATE OR REPLACE FUNCTION get_project_user_role_by_id(p_auth_user_id UUID,p_project_user_role_id UUID)
RETURNS TABLE (projectUserRoleId UUID, userId UUID, projectId UUID, roleId UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_project_user_role_by_id');

RETURN QUERY
 SELECT pur.projectUserRoleId, pur.userId, pur.projectId, pur.roleId
 FROM PROJECT_USER_ROLES pur
 WHERE pur.projectUserRoleId = p_project_user_role_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_project_user_role(p_auth_user_id UUID,
 p_project_user_role_id UUID,
 p_user_id UUID DEFAULT NULL,
 p_project_id UUID DEFAULT NULL,
 p_role_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_project_user_role');

UPDATE PROJECT_USER_ROLES
 SET
 userId = COALESCE(p_user_id, userId),
 projectId = COALESCE(p_project_id, projectId),
 roleId = COALESCE(p_role_id, roleId)
 WHERE projectUserRoleId = p_project_user_role_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_project(p_auth_user_id UUID,
 p_name JSONB,
 p_badge_background VARCHAR(512),
 p_starting_date DATE,
 p_ending_date DATE,
 p_description JSONB
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_project');

-- Validate date logic
 IF p_starting_date > p_ending_date THEN
 RAISE EXCEPTION 'Starting date (%) cannot be after ending date (%)',
 p_starting_date, p_ending_date;
 END IF;

 INSERT INTO PROJECTS (
 projectId,
 name,
 badgeBackground,
 startingDate,
 endingDate,
 description
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_badge_background,
 p_starting_date,
 p_ending_date,
 p_description
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_project(p_auth_user_id UUID, p_project_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_project');

DELETE FROM PROJECTS
 WHERE projectId = p_project_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_active_projects()
RETURNS TABLE (
    projectId UUID,
    name JSONB,
	badgeBackground VARCHAR(512),
    startingDate DATE,
    endingDate DATE,
	description JSONB
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN

RETURN QUERY 
    SELECT 
        p.projectId,
        p.name,
		p.badgeBackground,
        p.startingDate,
        p.endingDate,
		p.description
    FROM PROJECTS p
    WHERE CURRENT_DATE BETWEEN p.startingDate AND p.endingDate;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_projects(p_auth_user_id UUID)
RETURNS TABLE (
    projectId UUID,
    name JSONB,
    badgeBackground VARCHAR(512),
    startingDate DATE,
    endingDate DATE,
    description JSONB
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_projects');

RETURN QUERY 
    SELECT 
        p.projectId,
        p.name,
        p.badgeBackground,
        p.startingDate,
        p.endingDate,
        p.description
    FROM PROJECTS p;
END;
$$;
CREATE OR REPLACE FUNCTION get_project_by_id(p_auth_user_id UUID,p_project_id UUID)
RETURNS TABLE (
    projectId UUID,
    name JSONB,
    badgeBackground VARCHAR(512),
    startingDate DATE,
    endingDate DATE,
    description JSONB
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_project_by_id');

RETURN QUERY 
    SELECT 
        p.projectId,
        p.name,
        p.badgeBackground,
        p.startingDate,
        p.endingDate,
        p.description
    FROM PROJECTS p
    WHERE p.projectId = p_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_project(p_auth_user_id UUID,
 p_project_id UUID,
 p_name JSONB DEFAULT NULL,
 p_badge_background VARCHAR(512) DEFAULT NULL,
 p_starting_date DATE DEFAULT NULL,
 p_ending_date DATE DEFAULT NULL,
 p_description JSONB DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_project');

-- Validate date logic only when both dates provided
 IF p_starting_date IS NOT NULL AND p_ending_date IS NOT NULL AND p_starting_date > p_ending_date THEN
 RAISE EXCEPTION 'Starting date (%) cannot be after ending date (%)',
 p_starting_date, p_ending_date;
 END IF;

 UPDATE PROJECTS
 SET
 name = COALESCE(p_name, name),
 badgeBackground = COALESCE(p_badge_background, badgeBackground),
 startingDate = COALESCE(p_starting_date, startingDate),
 endingDate = COALESCE(p_ending_date, endingDate),
 description = COALESCE(p_description, description)
 WHERE projectId = p_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_question_type(p_auth_user_id UUID,
 IN p_typeCode VARCHAR(30),
 IN p_description JSONB
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_question_type');

-- Attempt to insert new question type
 INSERT INTO QUESTION_TYPES (
 typeCode,
 description
 ) VALUES (
 p_typeCode,
 p_description
 );

 -- Handle potential errors
 EXCEPTION
 WHEN unique_violation THEN
 RAISE EXCEPTION 'Question type "%" already exists', p_typeCode;
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'Description cannot be NULL';
END;
$$;
CREATE OR REPLACE PROCEDURE delete_question_type(p_auth_user_id UUID, p_type_code VARCHAR(30))
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_question_type');

DELETE FROM QUESTION_TYPES
 WHERE typeCode = p_type_code;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_question_types(p_auth_user_id UUID)
RETURNS TABLE (typeCode VARCHAR(30), description JSONB)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_question_types');

RETURN QUERY
 SELECT
 qt.typeCode,
 qt.description
 FROM QUESTION_TYPES qt;
END;
$$;
CREATE OR REPLACE FUNCTION get_question_type_by_id(p_auth_user_id UUID,p_type_code VARCHAR(30))
RETURNS TABLE (typeCode VARCHAR(30), description JSONB)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_question_type_by_id');

RETURN QUERY
 SELECT
 qt.typeCode,
 qt.description
 FROM QUESTION_TYPES qt
 WHERE qt.typeCode = p_type_code;
END;
$$;
CREATE OR REPLACE PROCEDURE update_question_type(p_auth_user_id UUID,
 p_type_code VARCHAR(30),
 p_description JSONB DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_question_type');

UPDATE QUESTION_TYPES
 SET description = COALESCE(p_description, description)
 WHERE typeCode = p_type_code;
END;
$$;
CREATE OR REPLACE PROCEDURE create_question(p_auth_user_id UUID,
 p_type_code VARCHAR(30),
 p_question_text JSONB,
 p_form_id UUID,
 p_interview_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_question');

INSERT INTO QUESTIONS (
 questionId,
 typeCode,
 questionText,
 formId,
 interviewId
 ) VALUES (
 gen_random_uuid(),
 p_type_code,
 p_question_text,
 p_form_id,
 p_interview_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_question(p_auth_user_id UUID, p_question_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_question');

DELETE FROM QUESTIONS
 WHERE questionId = p_question_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_questions(p_auth_user_id UUID)
RETURNS TABLE (
    questionId UUID,
    typeCode VARCHAR(30),
    questionText JSONB,
    formId UUID,
    interviewId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_questions');

RETURN QUERY 
    SELECT 
        q.questionId,
        q.typeCode,
        q.questionText,
        q.formId,
        q.interviewId
    FROM QUESTIONS q;
END;
$$;
CREATE OR REPLACE FUNCTION get_question_by_id(p_auth_user_id UUID,p_question_id UUID)
RETURNS TABLE (
    questionId UUID,
    typeCode VARCHAR(30),
    questionText JSONB,
    formId UUID,
    interviewId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_question_by_id');

RETURN QUERY 
    SELECT 
        q.questionId,
        q.typeCode,
        q.questionText,
        q.formId,
        q.interviewId
    FROM QUESTIONS q
    WHERE q.questionId = p_question_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_questions_by_form(p_auth_user_id UUID,p_form_id UUID)
RETURNS TABLE (
    questionId UUID,
    typeCode VARCHAR(30),
    questionText JSONB
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_questions_by_form');

RETURN QUERY 
    SELECT 
        q.questionId,
        q.typeCode,
        q.questionText
    FROM QUESTIONS q
    WHERE q.formId = p_form_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_question(p_auth_user_id UUID,
 p_question_id UUID,
 p_type_code VARCHAR(30) DEFAULT NULL,
 p_question_text JSONB DEFAULT NULL,
 p_form_id UUID DEFAULT NULL,
 p_interview_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_question');

UPDATE QUESTIONS
 SET
 typeCode = COALESCE(p_type_code, typeCode),
 questionText = COALESCE(p_question_text, questionText),
 formId = COALESCE(p_form_id, formId),
 interviewId = COALESCE(p_interview_id, interviewId)
 WHERE questionId = p_question_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_rate(p_auth_user_id UUID,
 p_hourly_rate NUMERIC(10,2),
 p_user_id UUID,
 p_project_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_rate');

INSERT INTO RATES (
 rateId,
 hourlyRate,
 userId,
 projectId
 ) VALUES (
 gen_random_uuid(),
 p_hourly_rate,
 p_user_id,
 p_project_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_rate(p_auth_user_id UUID, p_rate_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_rate');

DELETE FROM RATES
 WHERE rateId = p_rate_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_rates(p_auth_user_id UUID)
RETURNS TABLE (
    rateId UUID,
    hourlyRate NUMERIC(10,2),
    userId UUID,
    projectId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_rates');

RETURN QUERY 
    SELECT 
        r.rateId,
        r.hourlyRate,
        r.userId,
        r.projectId
    FROM RATES r;
END;
$$;
CREATE OR REPLACE FUNCTION get_rate_by_id(p_auth_user_id UUID,p_rate_id UUID)
RETURNS TABLE (
    rateId UUID,
    hourlyRate NUMERIC(10,2),
    userId UUID,
    projectId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_rate_by_id');

RETURN QUERY 
    SELECT 
        r.rateId,
        r.hourlyRate,
        r.userId,
        r.projectId
    FROM RATES r
    WHERE r.rateId = p_rate_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_rate(p_auth_user_id UUID,
 p_rate_id UUID,
 p_hourly_rate NUMERIC(10,2) DEFAULT NULL,
 p_user_id UUID DEFAULT NULL,
 p_project_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_rate');

UPDATE RATES
 SET
 hourlyRate = COALESCE(p_hourly_rate, hourlyRate),
 userId = COALESCE(p_user_id, userId),
 projectId = COALESCE(p_project_id, projectId)
 WHERE rateId = p_rate_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_rating_answer(p_auth_user_id UUID,
 p_answer_id UUID,
 p_rating SMALLINT,
 p_min_rating SMALLINT DEFAULT 1,
 p_max_rating SMALLINT DEFAULT 5
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_rating_answer');

-- Validate rating range with parameters
 IF p_rating NOT BETWEEN p_min_rating AND p_max_rating THEN
 RAISE EXCEPTION 'Rating must be between % and % (got %)',
 p_min_rating, p_max_rating, p_rating;
 END IF;

 INSERT INTO RATING_ANSWERS (
 answerId,
 rating
 ) VALUES (
 p_answer_id,
 p_rating
 );

 EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid answerId: % does not exist in ANSWERS table', p_answer_id;
 WHEN check_violation THEN
 RAISE EXCEPTION 'Rating value % violates check constraint (must be % to %)',
 p_rating, p_min_rating, p_max_rating;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_rating_answer(p_auth_user_id UUID, p_answer_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_rating_answer');

DELETE FROM RATING_ANSWERS
 WHERE answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_rating_answers(p_auth_user_id UUID)
RETURNS TABLE (answerId UUID, rating SMALLINT)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_rating_answers');

RETURN QUERY
 SELECT
 ra.answerId,
 ra.rating
 FROM RATING_ANSWERS ra;
END;
$$;
CREATE OR REPLACE FUNCTION get_rating_answer_by_id(p_auth_user_id UUID,p_answer_id UUID)
RETURNS TABLE (answerId UUID, rating SMALLINT)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_rating_answer_by_id');

RETURN QUERY
 SELECT
 ra.answerId,
 ra.rating
 FROM RATING_ANSWERS ra
 WHERE ra.answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_rating_answer(p_auth_user_id UUID,
 p_answer_id UUID,
 p_rating SMALLINT DEFAULT NULL,
 p_min_rating SMALLINT DEFAULT 1,
 p_max_rating SMALLINT DEFAULT 5
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_rating_answer');

-- Validate rating range only when provided
 IF p_rating IS NOT NULL AND p_rating NOT BETWEEN p_min_rating AND p_max_rating THEN
 RAISE EXCEPTION 'Rating must be between % and % (got %)',
 p_min_rating, p_max_rating, p_rating;
 END IF;

 UPDATE RATING_ANSWERS
 SET rating = COALESCE(p_rating, rating)
 WHERE answerId = p_answer_id;

 EXCEPTION
 WHEN check_violation THEN
 RAISE EXCEPTION 'Rating value % violates check constraint (must be % to %)',
 p_rating, p_min_rating, p_max_rating;
END;
$$;
CREATE OR REPLACE PROCEDURE create_role_action(p_auth_user_id UUID,
 p_roleId UUID,
 p_actionId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_role_action');

INSERT INTO ROLE_ACTIONS (
 roleActionsId,
 roleId,
 actionId
 ) VALUES (
 gen_random_uuid(), -- Auto-generate UUID
 p_roleId,
 p_actionId
 );
END;
$$;
CREATE OR REPLACE FUNCTION get_all_role_actions(p_auth_user_id UUID)
RETURNS TABLE (
 roleActionsId UUID,
 roleId UUID,
 actionId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_role_actions');

RETURN QUERY
 SELECT
 ra.roleActionsId,
 ra.roleId,
 ra.actionId
 FROM ROLE_ACTIONS ra;
END;
$$;
CREATE OR REPLACE FUNCTION get_role_action_by_id(p_auth_user_id UUID,
 p_roleActionsId UUID
)
RETURNS TABLE (
 roleActionsId UUID,
 roleId UUID,
 actionId UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_role_action_by_id');

RETURN QUERY
 SELECT
 ra.roleActionsId,
 ra.roleId,
 ra.actionId
 FROM ROLE_ACTIONS ra
 WHERE ra.roleActionsId = p_roleActionsId;
END;
$$;
CREATE OR REPLACE PROCEDURE update_role_action(p_auth_user_id UUID,
 p_roleActionsId UUID,
 p_roleId UUID DEFAULT NULL,
 p_actionId UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_role_action');

UPDATE ROLE_ACTIONS
 SET
 roleId = COALESCE(p_roleId, roleId),
 actionId = COALESCE(p_actionId, actionId)
 WHERE roleActionsId = p_roleActionsId;

 -- Check if any row was updated
 IF NOT FOUND THEN
 RAISE EXCEPTION 'Role action with id % not found', p_roleActionsId;
 END IF;

 EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid roleId or actionId provided';
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'roleId and actionId cannot be NULL';
END;
$$;
CREATE OR REPLACE PROCEDURE create_role(p_auth_user_id UUID,
 p_name JSONB,
 p_description JSONB
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_role');

INSERT INTO ROLES (roleId,name, description)
 VALUES (gen_random_uuid(),p_name, p_description)
;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_role(p_auth_user_id UUID, p_role_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_role');

DELETE FROM ROLES
 WHERE roleId = p_role_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_roles(p_auth_user_id UUID)
RETURNS TABLE (roleId UUID, name JSONB, description JSONB)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_roles');

RETURN QUERY
 SELECT r.roleId, r.name, r.description
 FROM ROLES r;
END;
$$;
CREATE OR REPLACE FUNCTION get_role_by_id(p_auth_user_id UUID,p_role_id UUID)
RETURNS TABLE (roleId UUID, name JSONB, description JSONB)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_role_by_id');

RETURN QUERY
 SELECT r.roleId, r.name, r.description
 FROM ROLES r
 WHERE r.roleId = p_role_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_role(p_auth_user_id UUID,
 p_role_id UUID,
 p_name JSONB DEFAULT NULL,
 p_description JSONB DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_role');

UPDATE ROLES
 SET
 name = COALESCE(p_name, name),
 description = COALESCE(p_description, description)
 WHERE roleId = p_role_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_rule_criterion(p_auth_user_id UUID,
 IN p_ruleId UUID,
 IN p_criterionId UUID,
 IN p_required BOOLEAN DEFAULT TRUE
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_rule_criteria');

-- Validate existence of ruleId and criterionId first
 IF NOT EXISTS (SELECT 1 FROM DECISION_RULES WHERE ruleId = p_ruleId) THEN
 RAISE EXCEPTION 'Invalid ruleId: % does not exist in DECISION_RULES', p_ruleId;
 END IF;

 IF NOT EXISTS (SELECT 1 FROM CRITERIA WHERE criterionId = p_criterionId) THEN
 RAISE EXCEPTION 'Invalid criterionId: % does not exist in CRITERIA', p_criterionId;
 END IF;

 -- Insert into RULE_CRITERIA
 INSERT INTO RULE_CRITERIA (
 ruleId,
 criterionId,
 required
 ) VALUES (
 p_ruleId,
 p_criterionId,
 p_required
 );

 EXCEPTION
 WHEN unique_violation THEN
 RAISE EXCEPTION 'Rule-Criterion association already exists (ruleId: %, criterionId: %)', p_ruleId, p_criterionId;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_rule_criterion(p_auth_user_id UUID,
 p_rule_id UUID,
 p_criterion_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_rule_criteria');

DELETE FROM RULE_CRITERIA
 WHERE ruleId = p_rule_id AND criterionId = p_criterion_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_rule_criteria(p_auth_user_id UUID)
RETURNS TABLE (ruleId UUID, criterionId UUID, required BOOLEAN)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_rule_criteria');

RETURN QUERY
 SELECT
 rc.ruleId,
 rc.criterionId,
 rc.required
 FROM RULE_CRITERIA rc;
END;
$$;
CREATE OR REPLACE FUNCTION get_rule_criterion_by_id(p_auth_user_id UUID,
 p_rule_id UUID,
 p_criterion_id UUID
)
RETURNS TABLE (ruleId UUID, criterionId UUID, required BOOLEAN)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_rule_criteria_by_id');

RETURN QUERY
 SELECT
 rc.ruleId,
 rc.criterionId,
 rc.required
 FROM RULE_CRITERIA rc
 WHERE rc.ruleId = p_rule_id AND rc.criterionId = p_criterion_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_rule_criterion(p_auth_user_id UUID,
 p_rule_id UUID,
 p_criterion_id UUID DEFAULT NULL,
 p_required BOOLEAN DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_rule_criteria');

UPDATE RULE_CRITERIA
 SET
 criterionId = COALESCE(p_criterion_id, criterionId),
 required = COALESCE(p_required, required)
 WHERE ruleId = p_rule_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_schedule(p_auth_user_id UUID,
 p_date DATE,
 p_start_time TIME,
 p_end_time TIME,
 p_project_id UUID,
 p_location_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_schedule');

-- Validate time logic
 IF p_start_time >= p_end_time THEN
 RAISE EXCEPTION 'Start time (%) must be before end time (%)',
 p_start_time, p_end_time;
 END IF;

 INSERT INTO SCHEDULES (
 scheduleId,
 date,
 startTime,
 endTime,
 projectId,
 locationId
 ) VALUES (
 gen_random_uuid(),
 p_date,
 p_start_time,
 p_end_time,
 p_project_id,
 p_location_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_schedule(p_auth_user_id UUID, p_schedule_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_schedule');

DELETE FROM SCHEDULES
 WHERE scheduleId = p_schedule_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_schedules(p_auth_user_id UUID)
RETURNS TABLE (
    scheduleId UUID,
    date DATE,
    startTime TIME,
    endTime TIME,
    projectId UUID,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_schedules');

RETURN QUERY 
    SELECT 
        s.scheduleId,
        s.date,
        s.startTime,
        s.endTime,
        s.projectId,
        s.locationId
    FROM SCHEDULES s;
END;
$$;
CREATE OR REPLACE FUNCTION get_schedule_by_id(p_auth_user_id UUID,p_schedule_id UUID)
RETURNS TABLE (
    scheduleId UUID,
    date DATE,
    startTime TIME,
    endTime TIME,
    projectId UUID,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_schedule_by_id');

RETURN QUERY 
    SELECT 
        s.scheduleId,
        s.date,
        s.startTime,
        s.endTime,
        s.projectId,
        s.locationId
    FROM SCHEDULES s
    WHERE s.scheduleId = p_schedule_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_schedule_by_project(p_auth_user_id UUID,p_project_id UUID)
RETURNS TABLE (
    scheduleId UUID,
    date DATE,
    startTime TIME,
    endTime TIME,
    locationId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_schedule_by_project');

RETURN QUERY 
    SELECT 
        s.scheduleId,
        s.date,
        s.startTime,
        s.endTime,
        s.locationId
    FROM SCHEDULES s
    WHERE s.projectId = p_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_schedule(p_auth_user_id UUID,
 p_schedule_id UUID,
 p_date DATE DEFAULT NULL,
 p_start_time TIME DEFAULT NULL,
 p_end_time TIME DEFAULT NULL,
 p_project_id UUID DEFAULT NULL,
 p_location_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_schedule');

-- Validate time logic only when both times provided
 IF p_start_time IS NOT NULL AND p_end_time IS NOT NULL AND p_start_time >= p_end_time THEN
 RAISE EXCEPTION 'Start time (%) must be before end time (%)',
 p_start_time, p_end_time;
 END IF;

 UPDATE SCHEDULES
 SET
 date = COALESCE(p_date, date),
 startTime = COALESCE(p_start_time, startTime),
 endTime = COALESCE(p_end_time, endTime),
 projectId = COALESCE(p_project_id, projectId),
 locationId = COALESCE(p_location_id, locationId)
 WHERE scheduleId = p_schedule_id;
END;
$$;
CREATE OR REPLACE FUNCTION create_submission(
 p_form_id UUID,
 p_user_id UUID,
 p_interview_id UUID,
 p_date_submitted TIMESTAMP,
 p_outcome submission_outcome,
 p_decision_notes TEXT
)
RETURNS TABLE (
 submissionId UUID,
 formId UUID,
 userId UUID,
 interviewId UUID,
 dateSubmitted TIMESTAMP,
 outcome submission_outcome,
 decisionNotes TEXT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_submission');

RETURN QUERY
 INSERT INTO SUBMISSIONS (
 submissionId, formId, userId, interviewId, dateSubmitted, outcome, decisionNotes
 ) VALUES (
 gen_random_uuid(), p_form_id, p_user_id, p_interview_id, p_date_submitted, p_outcome, p_decision_notes
 )
 RETURNING submissionId, formId, userId, interviewId, dateSubmitted, outcome, decisionNotes;
END;
$$;
CREATE OR REPLACE PROCEDURE delete_submission(p_auth_user_id UUID, p_submission_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_submission');

DELETE FROM SUBMISSIONS
 WHERE submissionId = p_submission_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_submissions(p_auth_user_id UUID)
RETURNS TABLE (
    submissionId UUID,
    formId UUID,
    userId UUID,
    interviewId UUID,
    dateSubmitted TIMESTAMP,
    outcome submission_outcome,
    decisionNotes TEXT
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_submissions');

RETURN QUERY 
    SELECT 
        s.submissionId,
        s.formId,
        s.userId,
        s.interviewId,
        s.dateSubmitted,
        s.outcome,
        s.decisionNotes
    FROM SUBMISSIONS s;
END;
$$;
CREATE OR REPLACE FUNCTION get_submission_by_id(p_auth_user_id UUID,p_submission_id UUID)
RETURNS TABLE (
    submissionId UUID,
    formId UUID,
    userId UUID,
    interviewId UUID,
    dateSubmitted TIMESTAMP,
    outcome submission_outcome,
    decisionNotes TEXT
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_submission_by_id');

RETURN QUERY 
    SELECT 
        s.submissionId,
        s.formId,
        s.userId,
        s.interviewId,
        s.dateSubmitted,
        s.outcome,
        s.decisionNotes
    FROM SUBMISSIONS s
    WHERE s.submissionId = p_submission_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_submission(p_auth_user_id UUID,
 p_submission_id UUID,
 p_form_id UUID DEFAULT NULL,
 p_user_id UUID DEFAULT NULL,
 p_interview_id UUID DEFAULT NULL,
 p_date_submitted TIMESTAMP DEFAULT NULL,
 p_outcome submission_outcome DEFAULT NULL,
 p_decision_notes TEXT DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_submission');

UPDATE SUBMISSIONS
 SET
 formId = COALESCE(p_form_id, formId),
 userId = COALESCE(p_user_id, userId),
 interviewId = COALESCE(p_interview_id, interviewId),
 dateSubmitted = COALESCE(p_date_submitted, dateSubmitted),
 outcome = COALESCE(p_outcome, outcome),
 decisionNotes = COALESCE(p_decision_notes, decisionNotes)
 WHERE submissionId = p_submission_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_text_answer(p_auth_user_id UUID,
 IN p_answerId UUID,
 IN p_response TEXT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_text_answer');

-- Validate response
 IF p_response IS NULL OR TRIM(p_response) = '' THEN
 RAISE EXCEPTION 'Response cannot be empty';
 END IF;

 INSERT INTO TEXT_ANSWERS (
 answerId,
 response
 ) VALUES (
 p_answerId,
 p_response
 );

 EXCEPTION
 WHEN foreign_key_violation THEN
 RAISE EXCEPTION 'Invalid answerId: % does not exist in ANSWERS table', p_answerId;
 WHEN not_null_violation THEN
 RAISE EXCEPTION 'Response cannot be NULL';
END;
$$;
CREATE OR REPLACE PROCEDURE delete_text_answer(p_auth_user_id UUID, p_answer_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_text_answer');

DELETE FROM TEXT_ANSWERS
 WHERE answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_text_answers(p_auth_user_id UUID)
RETURNS TABLE (answerId UUID, response TEXT)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_all_text_answers');

RETURN QUERY
 SELECT
 ta.answerId,
 ta.response
 FROM TEXT_ANSWERS ta;
END;
$$;
CREATE OR REPLACE FUNCTION get_text_answer_by_id(p_auth_user_id UUID,p_answer_id UUID)
RETURNS TABLE (answerId UUID, response TEXT)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'get_text_answer_by_id');

RETURN QUERY
 SELECT
 ta.answerId,
 ta.response
 FROM TEXT_ANSWERS ta
 WHERE ta.answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_text_answer(p_auth_user_id UUID,
 p_answer_id UUID,
 p_response TEXT DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_text_answer');

-- Validate response only when provided
 IF p_response IS NOT NULL AND (TRIM(p_response) = '') THEN
 RAISE EXCEPTION 'Response cannot be empty';
 END IF;

 UPDATE TEXT_ANSWERS
 SET response = COALESCE(p_response, response)
 WHERE answerId = p_answer_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_user_project(p_auth_user_id UUID,
 p_user_id UUID,
 p_project_id UUID
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'create_user_project');

INSERT INTO USER_PROJECT (
 userProjectId,
 userId,
 projectId
 ) VALUES (
 gen_random_uuid(),
 p_user_id,
 p_project_id
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_user_project(p_auth_user_id UUID, p_user_project_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_user_project');

DELETE FROM USER_PROJECT
 WHERE userProjectId = p_user_project_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_all_user_projects(p_auth_user_id UUID)
RETURNS TABLE (
    userProjectId UUID,
    userId UUID,
    projectId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_user_projects');

RETURN QUERY 
    SELECT 
        up.userProjectId,
        up.userId,
        up.projectId
    FROM USER_PROJECT up;
END;
$$;
CREATE OR REPLACE FUNCTION get_user_project_by_id(p_auth_user_id UUID,p_user_project_id UUID)
RETURNS TABLE (
    userProjectId UUID,
    userId UUID,
 projectId UUID
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_user_project_by_id');

RETURN QUERY 
    SELECT 
        up.userProjectId,
        up.userId,
        up.projectId
    FROM USER_PROJECT up
    WHERE up.userProjectId = p_user_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE update_user_project(p_auth_user_id UUID,
 p_user_project_id UUID,
 p_user_id UUID DEFAULT NULL,
 p_project_id UUID DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_user_project');

UPDATE USER_PROJECT
 SET
 userId = COALESCE(p_user_id, userId),
 projectId = COALESCE(p_project_id, projectId)
 WHERE userProjectId = p_user_project_id;
END;
$$;
CREATE OR REPLACE PROCEDURE create_user(
 p_name JSONB,
 p_email VARCHAR(255),
 p_phone VARCHAR(20),
 p_picture VARCHAR(512),
 p_role user_role,
 p_status user_status,
 p_two_fa_enabled BOOLEAN
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN

INSERT INTO USERS (
 userId,
 name,
 email,
 phone,
 picture,
 role,
 status,
 twoFaEnabled
 ) VALUES (
 gen_random_uuid(),
 p_name,
 p_email,
 p_phone,
 p_picture,
 p_role,
 p_status,
 p_two_fa_enabled
 );
END;
$$;
CREATE OR REPLACE PROCEDURE delete_user(p_auth_user_id UUID, p_user_id UUID)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'delete_user');

DELETE FROM USERS
 WHERE userId = p_user_id;
END;
$$;
-- edit_user_email.sql
CREATE OR REPLACE PROCEDURE edit_user_email(p_auth_user_id UUID,
 p_uid UUID,
 p_email TEXT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'edit_user_email');

-- Reuse existing update_user route but only change email
 PERFORM update_user(p_uid, NULL, p_email, NULL, NULL, NULL, NULL, NULL);
END;
$$;
-- Active: 1753794005229@@ep-divine-forest-a2lc92v7-pooler.eu-central-1.aws.neon.tech@5432@MOVO
-- src/db/procedures/edit_user_info.sql
CREATE OR REPLACE PROCEDURE edit_user_info(p_auth_user_id UUID,
 p_uid UUID,
 p_name JSON,
 p_picture TEXT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'edit_user_info');

-- Only update the multilingual name and picture fields; all other columns are left as-is.
 PERFORM update_user(
 p_uid,
 p_name,
 NULL, -- email
 NULL, -- phone
 p_picture, -- picture
 NULL, -- role
 NULL, -- status
 NULL -- twoFaEnabled
 );
END;
$$;
-- src/db/procedures/edit_user_phone.sql
CREATE OR REPLACE PROCEDURE edit_user_phone(p_auth_user_id UUID,
 p_uid UUID,
 p_phone TEXT
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'edit_user_phone');

-- Only update the phone field; all other columns are left as-is.
 PERFORM update_user(
 p_uid,
 NULL, -- name_json
 NULL, -- email
 p_phone, -- phone
 NULL, -- picture (if your update_user signature takes picture here, otherwise shift accordingly)
 NULL, -- role
 NULL, -- status
 NULL -- twoFaEnabled
 );
END;
$$;
CREATE OR REPLACE FUNCTION get_all_users(p_auth_user_id UUID)
RETURNS TABLE (
    userId UUID,
    name JSONB,
    email VARCHAR(255),
    phone VARCHAR(20),
    picture VARCHAR(512)
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_all_users');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.email,
        u.phone,
        u.picture
    FROM USERS u;
END;
$$;
CREATE OR REPLACE FUNCTION get_user_by_email(p_auth_user_id UUID,p_email VARCHAR(255))
RETURNS TABLE (
    userId UUID,
    name JSONB,
    phone VARCHAR(20),
    picture VARCHAR(512),
    role user_role,
    status user_status
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_user_by_email');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.phone,
        u.picture,
        u.role,
        u.status
    FROM USERS u
    WHERE u.email = p_email;
END;
$$;
CREATE OR REPLACE FUNCTION get_user_by_id(p_auth_user_id UUID,p_user_id UUID)
RETURNS TABLE (
    userId UUID,
    name JSONB,
    email VARCHAR(255),
    phone VARCHAR(20),
    picture VARCHAR(512),
    role user_role,
    status user_status,
    twoFaEnabled BOOLEAN
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_user_by_id');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.email,
        u.phone,
        u.picture,
        u.role,
        u.status,
        u.twoFaEnabled
    FROM USERS u
    WHERE u.userId = p_user_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_users_by_project(p_auth_user_id UUID,p_project_id UUID)
RETURNS TABLE (
    userId UUID,
    name JSONB,
    email VARCHAR(255),
    role user_role
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_users_by_project');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.email,
        u.role
    FROM USERS u
    JOIN USER_PROJECT up ON u.userId = up.userId
    WHERE up.projectId = p_project_id;
END;
$$;
CREATE OR REPLACE FUNCTION get_users_by_role(p_auth_user_id UUID,p_role user_role)
RETURNS TABLE (
    userId UUID,
    name JSONB,
    email VARCHAR(255),
    status user_status
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_users_by_role');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.email,
        u.status
    FROM USERS u
    WHERE u.role = p_role;
END;
$$;
CREATE OR REPLACE FUNCTION get_users_by_status(p_auth_user_id UUID,p_status user_status)
RETURNS TABLE (
    userId UUID,
    name JSONB,
    email VARCHAR(255),
    role user_role
) LANGUAGE plpgsql SECURITY DEFINER AS $$
BEGIN
    CALL check_user_permission(p_auth_user_id, 'get_users_by_status');

RETURN QUERY 
    SELECT 
        u.userId,
        u.name,
        u.email,
        u.role
    FROM USERS u
    WHERE u.status = p_status;
END;
$$;
-- change update_user to patch only non-null params
CREATE OR REPLACE PROCEDURE update_user(p_auth_user_id UUID,
 p_user_id UUID,
 p_name JSONB DEFAULT NULL,
 p_email VARCHAR(255) DEFAULT NULL,
 p_phone VARCHAR(20) DEFAULT NULL,
 p_picture VARCHAR(512) DEFAULT NULL,
 p_role user_role DEFAULT NULL,
 p_status user_status DEFAULT NULL,
 p_two_fa_enabled BOOLEAN DEFAULT NULL
)
LANGUAGE plpgsql SECURITY DEFINER
AS $$
BEGIN
 CALL check_user_permission(p_auth_user_id, 'update_user');

UPDATE users
 SET
 name = COALESCE(p_name, name),
 email = COALESCE(p_email, email),
 phone = COALESCE(p_phone, phone),
 picture = COALESCE(p_picture, picture),
 role = COALESCE(p_role, role),
 status = COALESCE(p_status, status),
 twoFaEnabled = COALESCE(p_two_fa_enabled, twoFaEnabled)
 WHERE userId = p_user_id;
END;
$$;
CREATE OR REPLACE PROCEDURE check_user_permission(
    p_userId UUID,
    p_actionType VARCHAR(100)
)
LANGUAGE plpgsql
AS $$
DECLARE
    v_has_permission BOOLEAN;
    v_action_name_en TEXT;
    v_action_name_ar TEXT;
    v_error_msg TEXT;
BEGIN
    -- Get action names from ACTIONS table
    SELECT 
        COALESCE(displayName->>'en', REPLACE(INITCAP(REPLACE(p_actionType, '_', ' ')), ' ', ' ')),
        COALESCE(displayName->>'ar', 'Ø¥Ø¬Ø±Ø§Ø¡ ØºÙŠØ± Ù…Ø¹Ø±ÙˆÙ')
    INTO v_action_name_en, v_action_name_ar
    FROM ACTIONS
    WHERE actionType = p_actionType;

    -- Fallback if action not found
    IF NOT FOUND THEN
        v_action_name_en := REPLACE(INITCAP(REPLACE(p_actionType, '_', ' ')), ' ', ' ');
        v_action_name_ar := 'Ø¥Ø¬Ø±Ø§Ø¡ ØºÙŠØ± Ù…Ø¹Ø±ÙˆÙ';
    END IF;

    -- Check permission
    SELECT EXISTS (
        SELECT 1
        FROM PROJECT_USER_ROLES pur
        JOIN ROLE_ACTIONS ra ON pur.roleId = ra.roleId
        JOIN ACTIONS a ON ra.actionId = a.actionId
        WHERE pur.userId = p_userId
          AND a.actionType = p_actionType
    ) INTO v_has_permission;

    -- Construct bilingual error message
    IF NOT v_has_permission THEN
        v_error_msg := format(
            'You don''t have permission to %s | Ù„ÙŠØ³ Ù„Ø¯ÙŠÙƒ ØµÙ„Ø§Ø­ÙŠØ§Øª Ù„%s',
            lower(v_action_name_en),  -- "to create projects"
            v_action_name_ar          -- "Ù„Ø¥Ù†Ø´Ø§Ø¡ Ø§Ù„Ù…Ø´Ø§Ø±ÙŠØ¹"
        );
        
        RAISE EXCEPTION '%', v_error_msg
        USING DETAIL = format('UserID: %s | Action: %s', p_userId, p_actionType),
              HINT = 'Assign required role in PROJECT_USER_ROLES';
    END IF;
END;
$$;
CREATE OR REPLACE FUNCTION evaluate_criteria_for_answer()
RETURNS TRIGGER AS $$
DECLARE
  answer_qid     UUID;
  criterion       RECORD;
  question_type   TEXT;
  raw_text        TEXT;
  raw_numeric     NUMERIC;
  eval_result     BOOLEAN;
  crit_effect     criterion_effect;
  answer_outcome  answer_result_outcome := 'MANUAL';
  found_match     BOOLEAN := FALSE;
BEGIN
  -- Lookup the questionId for this answer
  SELECT questionId
    INTO answer_qid
    FROM ANSWERS
   WHERE answerId = NEW.answerId;

  -- Fetch the question type
  SELECT typeCode
    INTO question_type
    FROM QUESTIONS
   WHERE questionId = answer_qid;

  -- Loop through all criteria for this question
  FOR criterion IN
    SELECT * FROM CRITERIA WHERE questionId = answer_qid
  LOOP
    -- extract raw answer & evaluate
    CASE question_type
      WHEN 'OPEN_ENDED','SHORT_ANSWER' THEN
        SELECT response INTO raw_text
          FROM TEXT_ANSWERS WHERE answerId = NEW.answerId;
        eval_result := evaluate_text_criteria(
                         criterion.type, criterion.value, raw_text
                       );

      WHEN 'NUMBER' THEN
        SELECT response INTO raw_numeric
          FROM NUMERIC_ANSWERS WHERE answerId = NEW.answerId;
        eval_result := evaluate_numeric_criteria(
                         criterion.type, criterion.value, raw_numeric
                       );

      WHEN 'RATE' THEN
        SELECT rating::NUMERIC INTO raw_numeric
          FROM RATING_ANSWERS WHERE answerId = NEW.answerId;
        eval_result := evaluate_numeric_criteria(
                         criterion.type, criterion.value, raw_numeric
                       );

      WHEN 'DROPDOWN','RADIO' THEN
        SELECT o.optionText->>current_setting('app.locale',true)
          INTO raw_text
        FROM ANSWER_OPTIONS ao
        JOIN OPTIONS o USING (optionId)
        WHERE ao.answerId = NEW.answerId
        LIMIT 1;
        eval_result := evaluate_text_criteria(
                         criterion.type, criterion.value, raw_text
                       );

      WHEN 'MULTIPLE_CHOICE' THEN
        SELECT STRING_AGG(
                 o.optionText->>current_setting('app.locale',true), ','
               ) INTO raw_text
        FROM ANSWER_OPTIONS ao
        JOIN OPTIONS o USING (optionId)
        WHERE ao.answerId = NEW.answerId;
        eval_result := evaluate_text_criteria(
                         criterion.type, criterion.value, raw_text
                       );

      ELSE
        eval_result := NULL;
    END CASE;

    -- insert per-criterion result, casting each branch to the enum
    INSERT INTO CRITERIA_RESULTS (
      criterionResultId,
      answerId,
      criterionId,
      outcome
    ) VALUES (
      gen_random_uuid(),
      NEW.answerId,
      criterion.criterionId,
      CASE
        WHEN eval_result IS NULL 
          THEN 'MANUAL'::answer_result_outcome
        WHEN criterion.effect = 'PASS' AND eval_result 
          THEN 'PASSED'::answer_result_outcome
        WHEN criterion.effect = 'PASS' AND NOT eval_result 
          THEN 'FAILED'::answer_result_outcome
        WHEN criterion.effect = 'FAIL' AND eval_result 
          THEN 'FAILED'::answer_result_outcome
        WHEN criterion.effect = 'FAIL' AND NOT eval_result 
          THEN 'PASSED'::answer_result_outcome
      END
    );

    -- capture first TRUE for the overall answer outcome
    IF NOT found_match AND eval_result IS TRUE THEN
      found_match := TRUE;
      answer_outcome := CASE 
                          WHEN criterion.effect = 'PASS'
                            THEN 'PASSED'::answer_result_outcome
                          ELSE 'FAILED'::answer_result_outcome
                        END;
    END IF;
  END LOOP;

  -- upsert combined answerâ€level result (already enum, no cast needed)
  INSERT INTO ANSWER_RESULTS(answerId, outcome)
    VALUES (NEW.answerId, answer_outcome)
  ON CONFLICT (answerId) DO UPDATE
    SET outcome = EXCLUDED.outcome;

  -- recompute submission outcome
  PERFORM update_submission_outcome(
    (SELECT submissionId FROM ANSWERS WHERE answerId = NEW.answerId)
  );

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;
CREATE OR REPLACE FUNCTION evaluate_numeric_criteria(
    op              criteria_operator,
    criterion_value TEXT,
    answer_value    NUMERIC
) RETURNS BOOLEAN
LANGUAGE plpgsql AS $$
DECLARE
  num_val     NUMERIC;
  range_start NUMERIC;
  range_end   NUMERIC;
BEGIN
  BEGIN
    num_val := criterion_value::NUMERIC;
  EXCEPTION WHEN OTHERS THEN
    RETURN NULL;
  END;

  IF op = 'between' THEN
    BEGIN
      range_start := SPLIT_PART(criterion_value, ',', 1)::NUMERIC;
      range_end   := SPLIT_PART(criterion_value, ',', 2)::NUMERIC;
    EXCEPTION WHEN OTHERS THEN
      RETURN NULL;
    END;
    RETURN answer_value BETWEEN range_start AND range_end;
  END IF;

  RETURN CASE op
    WHEN '>'  THEN answer_value >  num_val
    WHEN '<'  THEN answer_value <  num_val
    WHEN '='  THEN answer_value =  num_val
    WHEN '>=' THEN answer_value >= num_val
    WHEN '<=' THEN answer_value <= num_val
    WHEN '!=' THEN answer_value <> num_val
    ELSE NULL
  END;
END;
$$;
CREATE OR REPLACE FUNCTION evaluate_text_criteria(
    op              criteria_operator,
    criterion_value TEXT,
    answer_value    TEXT
) RETURNS BOOLEAN
LANGUAGE plpgsql AS $$
BEGIN
  IF answer_value IS NULL OR criterion_value IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN CASE op
    WHEN '='        THEN answer_value = criterion_value
    WHEN '!='       THEN answer_value <> criterion_value
    WHEN 'contains' THEN answer_value ILIKE '%' || criterion_value || '%'
    ELSE NULL
  END;
END;
$$;
CREATE OR REPLACE FUNCTION finalize_submission_outcome()
RETURNS TRIGGER AS $$
BEGIN
  IF NEW.dateSubmitted IS NOT NULL THEN
    PERFORM update_submission_outcome(NEW.submissionId);
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;
-- ############################################################
-- FULL TEST SCRIPT: SELF-CONTAINED SETUP & TESTS FOR ALL QUESTION TYPES
-- ############################################################

-- 0. Clear all tables
DO $$
DECLARE 
    tables TEXT;
BEGIN
    SELECT string_agg(format('%I.%I', schemaname, tablename), ', ')
    INTO tables
    FROM pg_tables
    WHERE schemaname NOT IN ('pg_catalog', 'information_schema');
    
    IF tables IS NOT NULL THEN
        EXECUTE 'TRUNCATE ' || tables || ' RESTART IDENTITY CASCADE';
    END IF;
END $$;

-- 1. Create minimal parent hierarchy

-- 1.1 CLIENT
INSERT INTO CLIENTS (clientId, name, company, contactEmail, contactPhone)
VALUES (
  '11111111-1111-1111-1111-111111111111',
  '{"en":"Test Client","ar":"Ø¹Ù…ÙŠÙ„"}',
  '{"en":"Test Co","ar":"Ø´Ø±ÙƒØ©"}',
  'client@test.com',
  '0100000000'
);

-- 1.2 PROJECT
INSERT INTO PROJECTS (projectId, clientId, name)
VALUES (
  '22222222-2222-2222-2222-222222222222',
  '11111111-1111-1111-1111-111111111111',
  '{"en":"Test Project","ar":"Ø§Ù„Ù…Ø´Ø±ÙˆØ¹"}'
);

-- 1.3 LOCATION
INSERT INTO LOCATIONS (locationId, name, projectId)
VALUES (
  '44444444-4444-4444-4444-444444444444',
  '{"en":"Site","ar":"Ø§Ù„Ù…ÙˆÙ‚Ø¹"}',
  '22222222-2222-2222-2222-222222222222'
);

-- 1.4 FORM
INSERT INTO FORMS (formId, locationId)
VALUES (
  '55555555-5555-5555-5555-555555555555',
  '44444444-4444-4444-4444-444444444444'
);

-- 1.5 INTERVIEW
INSERT INTO INTERVIEWS (interviewId, projectId)
VALUES (
  '66666666-6666-6666-6666-666666666666',
  '22222222-2222-2222-2222-222222222222'
);

-- 1.6 USER
INSERT INTO USERS (userId, name, email, phone, role)
VALUES (
  '77777777-7777-7777-7777-777777777777',
  '{"en":"Tester","ar":"Ù…Ø®ØªØ¨Ø±"}',
  'user@test.com',
  '0550000000',
  'Supervisor'
);

-- 1.7 SUBMISSION
INSERT INTO SUBMISSIONS (submissionId, formId, userId, interviewId)
VALUES (
  '88888888-8888-8888-8888-888888888888',
  '55555555-5555-5555-5555-555555555555',
  '77777777-7777-7777-7777-777777777777',
  '66666666-6666-6666-6666-666666666666'
);

-- 2. Define QUESTION_TYPES
INSERT INTO QUESTION_TYPES (typeCode, description) VALUES
  ('OPEN_ENDED',      '{"en":"Open ended","ar":"Ù…ÙØªÙˆØ­"}'),
  ('SHORT_ANSWER',    '{"en":"Short answer","ar":"Ø¥Ø¬Ø§Ø¨Ø© Ù‚ØµÙŠØ±Ø©"}'),
  ('NUMBER',          '{"en":"Number","ar":"Ø±Ù‚Ù…"}'),
  ('RATE',            '{"en":"Rating","ar":"ØªÙ‚ÙŠÙŠÙ…"}'),
  ('DROPDOWN',        '{"en":"Dropdown","ar":"Ù‚Ø§Ø¦Ù…Ø©"}'),
  ('RADIO',           '{"en":"Radio","ar":"Ø§Ø®ØªÙŠØ§Ø±"}'),
  ('MULTIPLE_CHOICE', '{"en":"Multiple choice","ar":"Ø§Ø®ØªÙŠØ§Ø±Ø§Øª"}');

-- 3. TEST EACH QUESTION TYPE

-- 3.1 OPEN_ENDED: should PASS on "good"
INSERT INTO QUESTIONS(questionId,typeCode,questionText,formId,interviewId)
VALUES ('10000001-0001-4000-8000-000000000001','OPEN_ENDED',
  '{"en":"Say something good","ar":"Ù‚Ù„ Ø´ÙŠØ¦Ø§Ù‹ Ø¬ÙŠØ¯Ø§Ù‹"}',
  '55555555-5555-5555-5555-555555555555',
  '66666666-6666-6666-6666-666666666666'
);
INSERT INTO CRITERIA(criterionId,questionId,type,value,effect) VALUES
  ('20000001-0001-4000-8000-000000000001','10000001-0001-4000-8000-000000000001','contains','good','PASS'),
  ('20000001-0001-4000-8000-000000000002','10000001-0001-4000-8000-000000000001','contains','bad','FAIL');
INSERT INTO ANSWERS(answerId,submissionId,questionId)
VALUES ('30000001-0001-4000-8000-000000000001','88888888-8888-8888-8888-888888888888','10000001-0001-4000-8000-000000000001');
INSERT INTO TEXT_ANSWERS(answerId,response)
VALUES ('30000001-0001-4000-8000-000000000001','It was a good test.');
SELECT * FROM CRITERIA_RESULTS WHERE answerId='30000001-0001-4000-8000-000000000001';
SELECT * FROM ANSWER_RESULTS   WHERE answerId='30000001-0001-4000-8000-000000000001';

-- 3.1b OPEN_ENDED: should be MANUAL
INSERT INTO ANSWERS(answerId,submissionId,questionId)
VALUES (
  '30000001-0001-4000-8000-000000000009',
  '88888888-8888-8888-8888-888888888888',
  '10000001-0001-4000-8000-000000000001'
);
INSERT INTO TEXT_ANSWERS(answerId,response)
VALUES (
  '30000001-0001-4000-8000-000000000009',
  'just okay'
);
SELECT * FROM CRITERIA_RESULTS WHERE answerId='30000001-0001-4000-8000-000000000009';
SELECT * FROM ANSWER_RESULTS   WHERE answerId='30000001-0001-4000-8000-000000000009';

-- 3.2 SHORT_ANSWER: should PASS on "yes"
INSERT INTO QUESTIONS(questionId,typeCode,questionText,formId,interviewId)
VALUES ('10000001-0002-4000-8000-000000000002','SHORT_ANSWER',
  '{"en":"Shortly describe","ar":"ÙˆØµÙ Ø¨Ø§Ø®ØªØµØ§Ø±"}',
  '55555555-5555-5555-5555-555555555555',
  '66666666-6666-6666-6666-666666666666'
);
INSERT INTO CRITERIA(criterionId,questionId,type,value,effect) VALUES
  ('20000001-0002-4000-8000-000000000003','10000001-0002-4000-8000-000000000002','contains','yes','PASS'),
  ('20000001-0002-4000-8000-000000000004','10000001-0002-4000-8000-000000000002','contains','no','FAIL');
INSERT INTO ANSWERS(answerId,submissionId,questionId)
VALUES ('30000001-0002-4000-8000-000000000002','88888888-8888-8888-8888-888888888888','10000001-0002-4000-8000-000000000002');
INSERT INTO TEXT_ANSWERS(answerId,response)
VALUES ('30000001-0002-4000-8000-000000000002','yes definitely');
SELECT * FROM CRITERIA_RESULTS WHERE answerId='30000001-0002-4000-8000-000000000002';
SELECT * FROM ANSWER_RESULTS   WHERE answerId='30000001-0002-4000-8000-000000000002';
-- 1. Drop existing triggers if they exist
DROP TRIGGER IF EXISTS trg_text_answers_eval    ON TEXT_ANSWERS;
DROP TRIGGER IF EXISTS trg_numeric_answers_eval ON NUMERIC_ANSWERS;
DROP TRIGGER IF EXISTS trg_rating_answers_eval  ON RATING_ANSWERS;
DROP TRIGGER IF EXISTS trg_option_answers_eval  ON ANSWER_OPTIONS;
DROP TRIGGER IF EXISTS trg_submissions_finalize ON 
SUBMISSIONS;

-- 2. Create triggers to evaluate criteria on answer insert/update
CREATE TRIGGER trg_text_answers_eval
  AFTER INSERT OR UPDATE ON TEXT_ANSWERS
  FOR EACH ROW
  EXECUTE FUNCTION evaluate_criteria_for_answer();

CREATE TRIGGER trg_numeric_answers_eval
  AFTER INSERT OR UPDATE ON NUMERIC_ANSWERS
  FOR EACH ROW
  EXECUTE FUNCTION evaluate_criteria_for_answer();

CREATE TRIGGER trg_rating_answers_eval
  AFTER INSERT OR UPDATE ON RATING_ANSWERS
  FOR EACH ROW
  EXECUTE FUNCTION evaluate_criteria_for_answer();

CREATE TRIGGER trg_option_answers_eval
  AFTER INSERT OR UPDATE ON ANSWER_OPTIONS
  FOR EACH ROW
  EXECUTE FUNCTION evaluate_criteria_for_answer();

-- 3. Create trigger to finalize submission outcome when dateSubmitted changes
CREATE TRIGGER trg_submissions_finalize
AFTER UPDATE OF dateSubmitted ON SUBMISSIONS
FOR EACH ROW
WHEN (NEW.dateSubmitted IS NOT NULL)
EXECUTE FUNCTION finalize_submission_outcome();

CREATE OR REPLACE FUNCTION update_submission_outcome(sub_id UUID)
RETURNS VOID AS $$
DECLARE
  rule_record  RECORD;
  all_passed   BOOLEAN;
BEGIN
  FOR rule_record IN
    SELECT ruleId, outcomeOnPass FROM DECISION_RULES ORDER BY priority
  LOOP
    SELECT BOOL_AND(cr.outcome = 'PASSED') INTO all_passed
      FROM RULE_CRITERIA rc
      JOIN CRITERIA_RESULTS cr USING (criterionId)
      JOIN ANSWERS a USING (answerId)
     WHERE rc.ruleId = rule_record.ruleId
       AND a.submissionId = sub_id;

    IF all_passed THEN
      UPDATE SUBMISSIONS
         SET outcome = rule_record.outcomeOnPass
       WHERE submissionId = sub_id;
      RETURN;
    END IF;
  END LOOP;

  -- fallback to manual review
  UPDATE SUBMISSIONS
     SET outcome = 'MANUAL_REVIEW'
   WHERE submissionId = sub_id;
END;
$$ LANGUAGE plpgsql;
