.custom-btn {
  background-color: var(--btn-color);
  color: var(--color-font);
  width: 100%;
  padding: 0.85rem;
  border-radius: var(--radius-btn);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: color-mix(in srgb, var(--btn-color) 90%, black 10%);
  }
}
