<article class="form-card skeleton" (click)="$event.stopPropagation()">
  <div class="form-icon">
    <app-loading-skeleton class="icon-skel"></app-loading-skeleton>
  </div>

  <div class="meta">
    <div class="meta-top">
      <div class="title-skel">
        <app-loading-skeleton></app-loading-skeleton>
      </div>
      <div class="type-skel">
        <app-loading-skeleton></app-loading-skeleton>
      </div>
    </div>

    <div class="meta-body">
      <div class="entity-skel">
        <app-loading-skeleton></app-loading-skeleton>
      </div>
      <div class="id-skel">
        <app-loading-skeleton></app-loading-skeleton>
      </div>
      <div class="date-skel">
        <app-loading-skeleton></app-loading-skeleton>
      </div>
    </div>
  </div>

  <div class="actions-container">
    <app-loading-skeleton class="action-skel"></app-loading-skeleton>
  </div>
</article>
